In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data=pd.read_csv("Data sets/CarPrice_Assignment.csv")

In [3]:
data.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    object
 3   fueltype          205 non-null    object
 4   aspiration        205 non-null    object
 5   doornumber        205 non-null    object
 6   carbody           205 non-null    object
 7   drivewheel        205 non-null    object
 8   enginelocation    205 non-null    object
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    object
 15  cylindernumber    205 non-null    object
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    object
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
dtypes: float64(8), int64(8), object(10)
memory usage: 41.8+ KB

In [5]:
#data set has no null values
data.isnull( ).sum()

car_ID              0
symboling           0
CarName             0
fueltype            0
aspiration          0
doornumber          0
carbody             0
drivewheel          0
enginelocation      0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginetype          0
cylindernumber      0
enginesize          0
fuelsystem          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
dtype: int64

In [6]:
#droping the unwanted columns
data.drop(labels=["car_ID","symboling","CarName"],axis=1,inplace=True)
data.head()

,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,carwidth,carheight,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,52.4,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,54.3,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,54.3,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [7]:
#checking unique categorical values in each columns
#These columns have categorical values we have to convert them into numarical values
for column in data:
    if data[column].dtypes=="object":
        print("----",column,"----"*10)
        print(data[column].unique())
        print(data[column].value_counts())

---- fueltype ----------------------------------------
['gas' 'diesel']
gas       185
diesel     20
Name: fueltype, dtype: int64
---- aspiration ----------------------------------------
['std' 'turbo']
std      168
turbo     37
Name: aspiration, dtype: int64
---- doornumber ----------------------------------------
['two' 'four']
four    115
two      90
Name: doornumber, dtype: int64
---- carbody ----------------------------------------
['convertible' 'hatchback' 'sedan' 'wagon' 'hardtop']
sedan          96
hatchback      70
wagon          25
hardtop         8
convertible     6
Name: carbody, dtype: int64
---- drivewheel ----------------------------------------
['rwd' 'fwd' '4wd']
fwd    120
rwd     76
4wd      9
Name: drivewheel, dtype: int64
---- enginelocation ----------------------------------------
['front' 'rear']
front    202
rear       3
Name: enginelocation, dtype: int64
---- enginetype ----------------------------------------
['dohc' 'ohcv' 'ohc' 'l' 'rotor' 'ohcf' 'dohcv']
ohc      148
ohcf      15
ohcv      13
dohc      12
l         12
rotor      4
dohcv      1
Name: enginetype, dtype: int64
---- cylindernumber ----------------------------------------
['four' 'six' 'five' 'three' 'twelve' 'two' 'eight']
four      159
six        24
five       11
eight       5
two         4
three       1
twelve      1
Name: cylindernumber, dtype: int64
---- fuelsystem ----------------------------------------
['mpfi' '2bbl' 'mfi' '1bbl' 'spfi' '4bbl' 'idi' 'spdi']
mpfi    94
2bbl    66
idi     20
1bbl    11
spdi     9
4bbl     3
mfi      1
spfi     1
Name: fuelsystem, dtype: int64

In [8]:
#we have to convert only categorical values in numrical values using 
from sklearn.preprocessing import LabelEncoder

In [9]:
label_en = LabelEncoder()
categorical_columns=["fueltype","aspiration","doornumber","carbody","drivewheel","enginelocation","enginetype","cylindernumber","fuelsystem"]
#data[categorical_columns] = label_en.fit_transform(data[categorical_columns])
coverted_columns=data[categorical_columns].apply(label_en.fit_transform)
coverted_columns

,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,enginetype,cylindernumber,fuelsystem
0,1,0,1,0,2,0,0,2,5
1,1,0,1,0,2,0,0,2,5
2,1,0,1,2,2,0,5,3,5
3,1,0,0,3,1,0,3,2,5
4,1,0,0,3,0,0,3,1,5
...,...,...,...,...,...,...,...,...,...
200,1,0,0,3,2,0,3,2,5
201,1,1,0,3,2,0,3,2,5
202,1,0,0,3,2,0,5,3,5
203,0,1,0,3,2,0,3,3,3
204,1,1,0,3,2,0,3,2,5

In [10]:
data.columns

Index(['fueltype', 'aspiration', 'doornumber', 'carbody', 'drivewheel',
       'enginelocation', 'wheelbase', 'carlength', 'carwidth', 'carheight',
       'curbweight', 'enginetype', 'cylindernumber', 'enginesize',
       'fuelsystem', 'boreratio', 'stroke', 'compressionratio', 'horsepower',
       'peakrpm', 'citympg', 'highwaympg', 'price'],
      dtype='object')

In [11]:
coverted_columns.columns

Index(['fueltype', 'aspiration', 'doornumber', 'carbody', 'drivewheel',
       'enginelocation', 'enginetype', 'cylindernumber', 'fuelsystem'],
      dtype='object')

In [12]:
labels=['fueltype', 'aspiration', 'doornumber', 'carbody', 'drivewheel','enginelocation', 'enginetype', 'cylindernumber', 'fuelsystem']
data.drop(labels=labels,axis=1,inplace=True)
data

,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111,5000,21,27,13495.0
1,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111,5000,21,27,16500.0
2,94.5,171.2,65.5,52.4,2823,152,2.68,3.47,9.0,154,5000,19,26,16500.0
3,99.8,176.6,66.2,54.3,2337,109,3.19,3.40,10.0,102,5500,24,30,13950.0
4,99.4,176.6,66.4,54.3,2824,136,3.19,3.40,8.0,115,5500,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,109.1,188.8,68.9,55.5,2952,141,3.78,3.15,9.5,114,5400,23,28,16845.0
201,109.1,188.8,68.8,55.5,3049,141,3.78,3.15,8.7,160,5300,19,25,19045.0
202,109.1,188.8,68.9,55.5,3012,173,3.58,2.87,8.8,134,5500,18,23,21485.0
203,109.1,188.8,68.9,55.5,3217,145,3.01,3.40,23.0,106,4800,26,27,22470.0
204,109.1,188.8,68.9,55.5,3062,141,3.78,3.15,9.5,114,5400,19,25,22625.0

In [13]:
dataset=pd.concat([coverted_columns,data],axis=1)
dataset.head()

,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,enginetype,cylindernumber,fuelsystem,wheelbase,...,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,0,1,0,2,0,0,2,5,88.6,...,2548,130,3.47,2.68,9.0,111,5000,21,27,13495.0
1,1,0,1,0,2,0,0,2,5,88.6,...,2548,130,3.47,2.68,9.0,111,5000,21,27,16500.0
2,1,0,1,2,2,0,5,3,5,94.5,...,2823,152,2.68,3.47,9.0,154,5000,19,26,16500.0
3,1,0,0,3,1,0,3,2,5,99.8,...,2337,109,3.19,3.40,10.0,102,5500,24,30,13950.0
4,1,0,0,3,0,0,3,1,5,99.4,...,2824,136,3.19,3.40,8.0,115,5500,18,22,17450.0

In [14]:
#spliting x and y datas
dataset1=dataset.copy()

In [15]:
x = dataset.drop('price',axis = 1)
y = dataset['price']

In [16]:
x

,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,enginetype,cylindernumber,fuelsystem,wheelbase,...,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg
0,1,0,1,0,2,0,0,2,5,88.6,...,48.8,2548,130,3.47,2.68,9.0,111,5000,21,27
1,1,0,1,0,2,0,0,2,5,88.6,...,48.8,2548,130,3.47,2.68,9.0,111,5000,21,27
2,1,0,1,2,2,0,5,3,5,94.5,...,52.4,2823,152,2.68,3.47,9.0,154,5000,19,26
3,1,0,0,3,1,0,3,2,5,99.8,...,54.3,2337,109,3.19,3.40,10.0,102,5500,24,30
4,1,0,0,3,0,0,3,1,5,99.4,...,54.3,2824,136,3.19,3.40,8.0,115,5500,18,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,1,0,0,3,2,0,3,2,5,109.1,...,55.5,2952,141,3.78,3.15,9.5,114,5400,23,28
201,1,1,0,3,2,0,3,2,5,109.1,...,55.5,3049,141,3.78,3.15,8.7,160,5300,19,25
202,1,0,0,3,2,0,5,3,5,109.1,...,55.5,3012,173,3.58,2.87,8.8,134,5500,18,23
203,0,1,0,3,2,0,3,3,3,109.1,...,55.5,3217,145,3.01,3.40,23.0,106,4800,26,27
204,1,1,0,3,2,0,3,2,5,109.1,...,55.5,3062,141,3.78,3.15,9.5,114,5400,19,25

In [17]:
y

0      13495.0
1      16500.0
2      16500.0
3      13950.0
4      17450.0
        ...
200    16845.0
201    19045.0
202    21485.0
203    22470.0
204    22625.0
Name: price, Length: 205, dtype: float64

In [18]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [19]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=10)

In [20]:
model=LinearRegression()

In [21]:
model.fit(x_train,y_train)

LinearRegression()

In [22]:
y_prediction=model.predict(x_test)

In [23]:
from sklearn.metrics import r2_score

In [24]:
r2_score(y_test,y_prediction)

0.5986868310655575

In [29]:
import pickle

In [30]:
file = open('car_model.pkl','wb')

In [31]:
pickle.dump(model,file)